{% load staticfiles %}


<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/jquery.dropotron.min.js' %} "></script>
<script src="{% static 'js/jquery.scrollgress.min.js' %} "></script>
<script src="{% static 'js/skel.min.js' %} "></script>
<script src="{% static 'js/skel-layers.min.js' %} "></script>
<script src="{% static 'js/init.js' %} "></script>

<link rel="stylesheet" href="{% static 'css/skel.css' %} " />
<link rel="stylesheet" href="{% static 'css/style.css' %} " />
<link rel="stylesheet" href="{% static 'css/style-wide.css' %} " />

